{:objects
 {:User
  {:description "You know the dril"
   :fields
   {:id {:type (non-null ID)}
    :username {:type String}
    :password {:type String}
    :paths {:type (list Path)
            :resolve :User/paths}}}

 :Path
  {:description "An overarching goal a user wishes to add to their lifestyle."
   :fields
   {:id {:type (non-null ID)}
    :user {:type (non-null User)
           :resolve :Path/user}
    :name {:type (non-null String)}
    :description {:type String
                  :description "A long-form description of the game."}}}}

 :queries
 {:paths_by_user_id
  {:type (list :Path)
   :description "Access all paths for a given user"
   :args
   {:user_id {:type ID}}
   :resolve :query/paths-by-user-id}
  :user_by_id
  {:type User
   :description "Retrieve a user by ID number"
   :args
   {:id {:type (non-null ID)}}
   :resolve :query/user-by-id}}}
